<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
          <img src="/assets/LogoMakr_2S2Yho.png" alt="" style=" width:200px;
          float:left;
          position:fixed;
         left:
         0px;">
        </a>
        <li class="nav-item active" style="color: black">
            <a class="nav-link" href="projects/new">
              <i class="fas fa-plus-circle"></i>
              <span>Monitor</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/projects">
              <i class="fas fa-columns"></i>
              <span>Monitors list </span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/projects/dashboard">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard </span></a
            >
          </li>

      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small"> <i class="fas fa-user"></i> Account</span>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="/auth/login">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Login
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/auth/logout">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>

    </ul>

  </nav>